[submodule "Blink/vendor/spgdlog"]
	path = Blink/vendor/spgdlog
	url = https://github.com/gabime/spdlog
[submodule "Blink/vendor/GLFW"]
	path = Blink/vendor/GLFW
	url = https://github.com/TheCherno/glfw
[submodule "Blink/vendor/imgui"]
	path = Blink/vendor/imgui
	url = https://github.com/TheCherno/imgui
[submodule "Blink/Blink/vendor/glm"]
	path = Blink/Blink/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "Blink/vendor/glm"]
	path = Blink/vendor/glm
	url = https://github.com/g-truc/glm
